<div class="cheatSheetDiv">
  <div class="CSList">
    <ul class="CSListUL " ng-repeat="cheatSheetNumber in cheatSheetCtrl.cheatSheetNumberList">
      <li class="CSListli col-md-10" ><a href="#"  ng-class="{'active': cheatSheetCtrl.selected == $index + 1}" ng-click="cheatSheetCtrl.openList($index + 1)">Cheat Sheet {{$index + 1}}</a></li>
      <a href="#" class="col-md-2" ng-click="cheatSheetCtrl.deleteList($index + 1)">
        <i class="material-icons">delete</i>
      </a>
      <!--<li class="CSListli" ><a href="#" ng-class="{'active': cheatSheetCtrl.selected == 2}" ng-click="cheatSheetCtrl.deleteList(2)">Cheat Sheet 2</a></li>-->
      <!--<li class="CSListli" ><a href="#" ng-class="{'active': cheatSheetCtrl.selected == 3}" ng-click="cheatSheetCtrl.deleteList(3)">Cheat Sheet 3</a></li>-->
    </ul>
    <div id="fab_cheatsheet" class="col-md-3" ng-click="cheatSheetCtrl.addToList()">
      <a href="#" >
        <div id="icon_cheatsheet">
          +
        </div>
      </a>
    </div>
  </div>

  <div  class="CSView">
    <div class="notesList">
      <div >
      </div>
    <div drop-container  on-drop="cheatSheetCtrl.onDrop($event, $dragData)" class="dr-tile-empty">
      <ul class="noteTextArea nav nav-tabs " ng-repeat="cheatsheetNote in cheatSheetCtrl.cheatSheetList" >
        <li class ="noteText dr-tile-img" ng-click="cheatSheetCtrl.openNote(cheatsheetNote)">
          <a href="#">
            <p><b><u>Title</u></b> : {{cheatsheetNote.title}}</p>
            <p><b><u>Text Content</u></b> : {{cheatsheetNote.content}}</p>
          </a>
        </li>

      </ul>
    </div>
    </div>
  </div>
  <div class="notesList">
    <div class='search-box'>
      <form class='search-form'>
        <input class='form-control' placeholder='ex: Ruby, Rails, Java, CSS, Javascript, Node, C#, SQL, etc.' type='text' ng-model="cheatSheetCtrl.searchstring">
        <button class='btn btn-link search-btn' ng-click="cheatSheetCtrl.search()">
          <i class='glyphicon glyphicon-search'></i>
        </button>
      </form>
    </div>
    <ul class="noteTextArea nav nav-tabs" ng-repeat="Note in cheatSheetCtrl.notesText">
      <li class ="noteText dr-tile-img" drag-container="true" drag-data="Note" ng-click="cheatSheetCtrl.openNote(Note)">
        <a href="#">
          <p><b><u>Title</u></b> : {{Note.title}}</p>
          <p><b><u>Text Content</u></b> : {{Note.content}}</p>
        </a>
      </li>
    </ul>

  </div>
</div>
