.cheatSheetDiv{
  display: inline-flex;
  width:100%;
}

.CSList{
  width: 20%;
}
.CSListUL{
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*width: 25%;*/
  background-color: #f1f1f1;
  position: relative;
  /*height: 100%;*/
  /*overflow-y: auto;*/
}
.CSListli a{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.CSListli a.active {
  background-color: #4CAF50;
  color: white;
}

.CSListli a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.CSView{
  padding:1px 16px;
  min-height: 800px;
  min-width: 750px;
  border: groove 1px;
}
.CSViewEdit{
  width:100%;
  height: 80%;
  border-style: solid;
  border-width: medium;
}
.notesList{
  height:800px;
  overflow:auto;
  width: auto;
}

.noteTextArea{
  /*overflow:auto;*/
  list-style-type:none;
}

.noteText  {
  text-align: center;
  cursor: move;
  list-style:none;
  /*overflow: auto;*/
  display: inline-block;
  padding:25px 25px 40px 20px;
  margin:20px auto 20px auto;
  width:250px;
  height:250px;
  font:20px 'Arial', cursive;
  line-height:1.5;
  border:10px;
  border-radius:3px;
  background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
  background: -moz-linear-gradient(#F9EFAF, #F7E98D);
  background: -o-linear-gradient(#F9EFAF, #F7E98D);
  background: -ms-linear-gradient(#F9EFAF, #F7E98D);
  background: linear-gradient(#F9EFAF, #F7E98D);
  box-shadow:0 4px 6px rgba(0,0,0,0.1);
  overflow:hidden;
  transition:box-shadow 0.5s ease;
  max-width:520px;
  max-height:250px;
}

.noteText:hover { box-shadow:0 5px 8px rgba(0,0,0,0.15); }
.noteText:focus { box-shadow:0 5px 12px rgba(0,0,0,0.2); outline:none; }

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.noteText.dragElem {
  opacity: 0.4;
}
.noteText.over {
//border: 2px dashed #000;
  border-top: 2px solid blue;
}


.dr-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 500px !important;
  min-height: 100vmin !important;

  width: 500px !important;
  width: 100vmin !important;
  height: 500px !important;
  height: 100vmin !important;

  background-color: whitesmoke;
  border: 6px inset #eee;
}

.dr-tile-img.swappable:hover {
  opacity: 0.8;
  cursor: move;
}

.dr-tile-empty, .dr-tile-img {
  width: 100%;
  height: 100%;
}

.dr-tile-img {
  border: 2px outset #eee;
  background-clip: border-box;
  background-size: contain;
}

.search-box {
  display: inline-block;
  width: 100%;
  border-radius: 3px;
  padding: 4px 55px 4px 15px;
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.search-box.hovered, .search-box:hover, .search-box:active {
  border: 1px solid #aaa;
}
.search-box input[type=text] {
  border: none;
  box-shadow: none;
  display: inline-block;
  padding: 0;
  background: transparent;
}
.search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {
  box-shadow: none;
}
.search-box .search-btn {
  position: absolute;
  right: 2px;
  top: 2px;
  color: #aaa;
  border-radius: 3px;
  font-size: 21px;
  padding: 5px 10px 1px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.search-box .search-btn:hover {
  color: #fff;
  background-color: #8FBE00;
}

#fab_cheatsheet {
  background-color:green;
  height:50px;
  width:50px;
  border:none;
  border-radius:50%;
  box-shadow:0 0 7px rgba(0,0,0,.7);
  position:relative;
  margin:20px;
  cursor:pointer;
}

#icon_cheatsheet {
  font-size:30px;
  color:white;
  line-height:48px;
  text-align:center;
}
