.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 0.5;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 5px 5px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.info_layer {
  background-color: white;
  width: 100%;
  max-width: 501px !important;
  max-width: 50rem !important;
  margin-top: 40px !important;
  margin-top: 4rem !important;
  padding: 75px 16px !important;
  padding: 7.5rem 1.6rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.2);
}
