<header class="hero-unit" id="banner">
  <h1>Dashboard</h1>
</header>

<div class="container">
  <div class="row ">
    <div class="col-lg-12">
      <div class="row">
        <div style="display: inline-block">
          <h1 class="page-header">Notes:</h1>
          <!--<ul class="noteTextArea">-->
          <ul ng-if="$ctrl.notesText.length !== 0" class="noteTextArea nav nav-tabs nav-stacked col-md-3 col-lg-3 col-sm-6"
              ng-repeat="Note in $ctrl.notesText">
            <li class="noteText" ng-click="$ctrl.openNote(Note)">
              <a href="#">
                <p><b><u>Title</u></b> : {{Note.title}}</p>
                <p><b><u>Text Content</u></b> : {{Note.content}}</p>
              </a>
            </li>
          </ul>
          <div ng-if="$ctrl.notesText.length === 0" class="spinner">
            <div class="b1 se"></div>
            <div class="b2 se"></div>
            <div class="b3 se"></div>
            <div class="b4 se"></div>
            <div class="b5 se"></div>
            <div class="b6 se"></div>
            <div class="b7 se"></div>
            <div class="b8 se"></div>
            <div class="b9 se"></div>
            <div class="b10 se"></div>
            <div class="b11 se"></div>
            <div class="b12 se"></div>
          </div>
        </div>
        <div>
          <h2 class="page-header"> My notes:</h2>
          <!--<ul class="noteTextArea">-->
          <ul class="noteTextArea nav nav-tabs nav-stacked col-md-3 col-lg-3 col-sm-6"
              ng-repeat="Note in $ctrl.currentUsernotesText">
            <li class="noteText" ng-click="$ctrl.openNote(Note)">
              <a href="#">
                <p><b><u>Title</u></b> : {{Note.title}}</p>
                <p><b><u>Text Content</u></b> : {{Note.content}}</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="fab_add_icon">
    <a href="#">
      <div id="dash_add_icon" ng-click="$ctrl.openAddModal()">
        +
      </div>
    </a>
  </div>
</div>
