<div class="container">
  <form id="contact" >
    <h3>User Profile and Interests</h3>
    <!--<h4>Contact us today, and get reply with in 24 hours!</h4>-->
    <fieldset>
      <label> Interests:</label>
      <input placeholder="Your interests" type="text" tabindex="1" required autofocus ng-model="profileCtrl.currentUser.interests">
    </fieldset>
    <br/>
    <fieldset>
      <label> Coursework:</label>
      <input placeholder="Your coursework" type="text" tabindex="2" required ng-model="profileCtrl.currentUser.coursework">
    </fieldset>
    <br/>
    <fieldset>
      <label> In what domain do you seek assistance:</label>
      <input placeholder="Your weaknesses" type="text" tabindex="3" required ng-model="profileCtrl.currentUser.weakness">
    </fieldset>
    <br/>
    <fieldset>
      <label> Strengths:</label>
      <input placeholder="Your strengths" type="text" tabindex="4" required ng-model="profileCtrl.currentUser.strengths">
    </fieldset>
    <br/>
    <fieldset>
      <label> Other info:</label>
      <textarea placeholder="Type your Message Here...." tabindex="5" required ng-model="profileCtrl.currentUser.otherinfo"></textarea>
    </fieldset>
    <br/>
    <fieldset>

      <button name="submit" type="submit"  ng-click="profileCtrl.createOrUpdateUserProfile()">Submit</button>
    </fieldset>
    <br/>
    <fieldset>

      <div class="success-msg" ng-if="profileCtrl.successFlag">
        <i class="fa fa-check"></i>
        Save Successful. User profile updated.
      </div>
    </fieldset>

  </form>


</div>
